* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('ptrbackground.jpg'), linear-gradient(to bottom, #00569f, #00569f); 
    background-position: top center;
    background-color: #00569f;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
}

#wrapper {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #002171;
    box-shadow: 3px 3px 3px #666;
    overflow: hidden;
    position: relative;
}

header {
    background-image: url('sunset.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px; 
    text-align: left;
    width: 100%; 
}

nav {
    float: left; 
    width: 180px; 
	height: 550px;
    background-color:#3399cc; 
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav a {
    display: block;
    color: darkblue;
    text-decoration: none;
    padding: 3px 10px;
	font-weight: bold;
	font-size: 20px;
}

#content {
    margin-left: 200px; 
    padding: 20px;
    background-color: #fff;
    overflow: hidden; 
}

#content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
    float: left;
    margin-right: 20px;
}

#content h2 {
    color: #3399cc;
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0.5em;
}

#content ul {
	margin-top: 20px;
    list-style: none; 
    margin-left: 1em; 
}

#content ul li {
    margin-bottom: 0.5em;
    padding-left: 1px; 
    list-style-image: url('marker.gif'); 
}

h2 {
    color: #3399cc;
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0.5em;
}

.resort {
    color: #5c7fa3;
    font-weight: bold;
}


#contact {
    font-size: 0.9em;
    margin-top: 1em;
    padding-top: 0.5em;
}

footer {
    margin-top: 20px;
    color: black;
	text-indent: 200px; 
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    clear: both;
    padding: 10px; 
}

footer a {
    color: black;
	margin-left: 200px;
}
